<h1>Select What You Would Like To Watch:</h1>

<h2>Release Date</h2>

<form>
  Enter a year:
  <input id="yearInput" name="year" type="text" placeholder="Enter a year..example: 1999" ng-model="year"/>
</form>

<form name="myForm">
    <label for="repeatSelect"> Repeat select: </label>

    <select ng-model="$ctrl.filter.genre">
      <option ng-repeat="option in $ctrl.genre" value="option.id">{{option.name}}</option>
    </select>
  </form>

<select>
    <option value="length" selected>Length</option>
    <option value="30mins">30 Minutes</option>
    <option value="60mins">1 hour</option>
    <option value="120mins">2 hours</option>
    <option value="180mins">3 hours</option>
</select>
<button ng-click="$ctrl.update();">Search</button>
